{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'experimentapp/main_style.css' %}">
    </head>
    <body>
        <!-- BACKGROUND -->
        <div id="background" class="background"></div>
        <!-- BORDERS -->
        <div id="top_border" class="pageborder"></div>
        <div id="left_border" class="pageborder"></div>
        <div id="right_border" class="pageborder"></div>
        <div id="bottom_border" class="pageborder"></div>
        {% block onbodyblock %}
        {% endblock %}
    </body>
</html>
