{% load static %}
<!DOCTYPE html>
<html lang="es">
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <link rel="stylesheet" href="{% static 'experimentapp/main_style.css' %}">
        <script src="{% static 'experimentapp/front_logic.js' %}"></script>
        <script src="{% static 'experimentapp/chart_logic.js' %}"></script>
    </head>
    <body>
        <!-- BACKGROUND -->
        <div id="background" class="background"></div>
        <!-- BODYBLOCK -->
        {% block onbodyblock %}
        {% endblock %}
    </body>
</html>
