
:root {
    --bgmain : #606060;
    --bgsec1: #737479;
    --bgsec2: #73747977;
    --border: rgb(177,0,114);
    --winbg: #e6e6e6;
    --fic: rgb(50,110,118);
}

#background {
    /* Bg appearance and dimensions */
    position: absolute;
    height: 100%;
    left:0;
    top:0;
    width: 100%;
    z-index: -1;
    background-color: var(--bgmain);
    opacity: 1;
    background-image:  linear-gradient(30deg, var(--bgsec1) 12%, transparent 12.5%, transparent 87%, var(--bgsec1) 87.5%, var(--bgsec1)), linear-gradient(150deg, var(--bgsec1) 12%, transparent 12.5%, transparent 87%, var(--bgsec1) 87.5%, var(--bgsec1)), linear-gradient(30deg, var(--bgsec1) 12%, transparent 12.5%, transparent 87%, var(--bgsec1) 87.5%, var(--bgsec1)), linear-gradient(150deg, var(--bgsec1) 12%, transparent 12.5%, transparent 87%, var(--bgsec1) 87.5%, var(--bgsec1)), linear-gradient(60deg, var(--bgsec2) 25%, transparent 25.5%, transparent 75%, var(--bgsec2) 75%, var(--bgsec2)), linear-gradient(60deg, var(--bgsec2) 25%, transparent 25.5%, transparent 75%, var(--bgsec2) 75%, var(--bgsec2));
    background-size: 28px 49px;
    background-position: 0 0, 0 0, 14px 25px, 14px 25px, 0 0, 14px 25px;
    /* Edges TODO */
    outline: 10px inset red;
}

.ui-dialog.window {
    border-style: outset;
    border-color: var(--border);
    border-width: 4px;
    background: var(--winbg);
    overflow: clip;
}

.ui-dialog.window.select_window {
    border-color: var(--fic);
}

.ui-dialog .ui-dialog-buttonpane {
    border-top: 2px gray;
    border-top-style: none;
    border-style: double;
    background-color: var(--winbg);
    padding-top: 0px;
    padding-bottom: 0px;
}

.ui-dialog .ui-dialog-buttonpane .ui-button {
    border-color: var(--border);
}

.ui-dialog-titlebar {
    border-style: none;
    background: #00000000;
    border-bottom: 1px dotted gray;
}

.ui-accordion-content.accord_data {
    padding-top: 0px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.accord_description, .edition_stats, .edition_chart {
	  border-bottom: 1px dotted #AAA;
    margin-bottom: 5px;
}

.element_separated_bot {
    border-bottom: 1px dotted #AAA;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.chart_frame {
}

#subdomain-empty {
	  margin: 0px;
	  color: gray;
}

.button_list button, .inline {
    display:inline;
}

.bold {
    font-weight: bold;
}

.purple {
    color : var(--border);
}

.turquoise {
    color : var(--fic);
}

.search_input {
    border-color: var(--border);
}

.search_results {
    overflow: scroll;
    height: 16em;
    margin: 1em 0px 0px 10px;
    border: 1px dotted var(--border);
    padding: 3px;
    border-radius: 5px;
}

.edition_aarm_search {
    padding-top: 5px;
}

.edition_aarm_search button {
    height : 1.5em;
    align-items: ce
}

.no_margin {
    margin: 0px;
}

.little_margin {
    margin: 5px 0px 5px 0px;
}

.form_element {
    padding: 0.5em 0 0.5em 0;
}

.form_element input[type='text'], .form_element .radio_box {
    right: 0;
    margin-right: 10px;
}

#a_select_field, #e_select_field {
    pointer-events: none;
    border: none;
    background: transparent;
    color: var(--fic);
}
