
:root {
    --bgmain : #606060;
    --bgsec1: #737479;
    --bgsec2: #73747977;
    --border: rgb(177,0,114);
    --winbg: #e6e6e6;
}

#background {
    /* Bg appearance and dimensions */
    position: absolute;
    height: 100%;
    left:0;
    top:0;
    width: 100%;
    z-index: -1;
    background-color: var(--bgmain);
    opacity: 1;
    background-image:  linear-gradient(30deg, var(--bgsec1) 12%, transparent 12.5%, transparent 87%, var(--bgsec1) 87.5%, var(--bgsec1)), linear-gradient(150deg, var(--bgsec1) 12%, transparent 12.5%, transparent 87%, var(--bgsec1) 87.5%, var(--bgsec1)), linear-gradient(30deg, var(--bgsec1) 12%, transparent 12.5%, transparent 87%, var(--bgsec1) 87.5%, var(--bgsec1)), linear-gradient(150deg, var(--bgsec1) 12%, transparent 12.5%, transparent 87%, var(--bgsec1) 87.5%, var(--bgsec1)), linear-gradient(60deg, var(--bgsec2) 25%, transparent 25.5%, transparent 75%, var(--bgsec2) 75%, var(--bgsec2)), linear-gradient(60deg, var(--bgsec2) 25%, transparent 25.5%, transparent 75%, var(--bgsec2) 75%, var(--bgsec2));
    background-size: 28px 49px;
    background-position: 0 0, 0 0, 14px 25px, 14px 25px, 0 0, 14px 25px;
    /* Edges TODO */
    outline: 10px inset red;
}

.ui-dialog.window {
    border-style: outset;
    border-color: var(--border);
    border-width: 4px;
    background: var(--winbg);
}

.ui-dialog-titlebar {
    border-style: none;
    background: #00000000
}
